@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb{
    background: #36353b;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #6556cd;
    border-radius: 10px;
}
/* Dropdown Styling */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #27272a;
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 14em;
    height: 2.25em;
    line-height: 2;
    background: #27272a;
    overflow: hidden;
    border-radius: 0.25em;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #27272a;
    color: #fff; /* Ensures arrow is visible */
    pointer-events: none;
    transition: 0.25s all ease;
}

.select:hover::after {
    color: #6556cd;
}

/* Adding hover effect for the whole select element */
.select:hover {
    background: #333; /* Slightly lighter than the original background for a hover effect */
}
option{
    background-color: grey;
}


